<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>python</string>
	<string>nursing</string>
	<string>Java Developer</string>
	<string>iOS Developer</string>
	<string>Android Developer</string>
</array>
</plist>
